#body {
    background-color:#451F55; 
    color: #EFE9E7;
    font-family: "Roboto", sans-serif;
    padding: 5%
}

.song-container {
    background-color: #724E91; 
    border-radius: 10%;
}

#link-button {
    background-color:purple; 
    border: none;
    outline: none;
}

#link-button:focus {
    border: none;
    outline: none;
    background-color:indigo;
}

footer {
    background-color: #22162B;
    color: #EFE9E7;
    font-family: "Roboto", sans-serif;
}