#body {
    background-color: #393939; 
    color: #EFE9E7;
    font-family: "Roboto", sans-serif;
    padding: 5%
}

#header {
    background-color: #1a1a1a;
    color: #EFE9E7;
    font-family: "Roboto", sans-serif;
}

a {
    color:#EFE9E7;
}

a:hover{
    color:white;
}

.song-container {
    background-color: #390139; 
    border-radius: 10%;
}

#link-button {
    background-color:blueviolet; 
    border: none;
    outline: none;
}

#link-button:focus {
    border: none;
    outline: none;
    background-color:blueviolet;
}

footer {
    background-color: #1a1a1a;
    color: #EFE9E7;
    font-family: "Roboto", sans-serif;
}